<h2>Reactive Form</h2>

<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name: </label><span *ngIf="reactiveForm.get('firstName')?.invalid">Required</span>
    <input id="first-name" type="text" formControlName="firstName" required>


    <label for="last-name">Last Name: </label><span *ngIf="reactiveForm.get('lastName')?.invalid">Required</span>
    <input id="last-name" type="text" formControlName="lastName" required>

    <div formGroupName="address">
        <h2>Address</h2>

        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">

        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">

        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">

        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zipcode">

    </div>

    <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button (click)="addAlias()" type="button">+ Add another alias</button>

        <div *ngFor="let alias of aliases.controls; let i=index">
            <label for="alias-{{ i }}">Alias({{i}}):</label>
            <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
    </div>

    <p>Complete the form to enable button.</p>

    <button type="submit" [disabled]="!reactiveForm.valid">Submit</button>

</form>

<hr>

<p>Form Value: {{ reactiveForm.value | json }}</p>

<p>Form Status: {{ reactiveForm.status }}</p>

<button (click)="patchInValues()">Patch in Values</button>